<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dashboard.css')}}" />
</head>

<body>
    <nav class="">
        <div class="nav">
            <div class="head">
                <a href="/pet/addPet" class="btn">Adopt a New Fur Baby!</a>
                <a href="/logout" class="logB">Logout</a>
            </div>
            <h2 class="header">Welcome, {{user.first_name}}</h2>
        </div>

        <h1 class="welcome">Welcome to the Pet Shop!</h1>
        <p class="text-center">Welcome "User Name Goes Here" to your profile page. You can add more pets to your profile or check out some cool pets in our library from other members.</p>
        <h3 class="text-center">Here are your pets:</h3>
        </div>
        <table class="user">
            <thaed>
                {% for pet in pets %}
                <tr>
                    <th>
                        <td>
                            <a href="/pet/veiw/{{pet.id}}">{{pet.name}}</a>
                        </td>
                        <td>
                            by {{user.first_name}}
                        </td>
                        <td>
                            {% if pet.user_id == session.user_id %}
                            <a href="/pet/delete/{{pet.id}}">New Home On the Farm...</a>
                            <a href="/pet/edit/{{pet.id}}">New Style!</a> {% endif %}
                        </td>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
        </table>

        <div id="bowl">
            <div id="water-bowl">
                <div class="water"></div>
            </div>
            <div id="food-bowl">
                <div class="food"></div>
            </div>
            <div class="ball"></div>
        </div>
        <div class="footer ">
            <p class=" ">Copyright © 2022 The Pet Shop 123 Street • ABC Town, USA 12345 • (987) 654-3210</p>
        </div>

        <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>