<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/editPet.css')}}" />
    <title>Pet Shop - Edit Pet</title>
</head>

<body>
    <nav class="wrapper">
        <div class="contain">
            <div class="head">
                <a href="/pet/addPet" class="logB">Adopt A New Fur Baby!</a>
                <a href="/home" class="logB">Home Sweet Home</a>
                <a href="/logout" class="logB">Logout</a>
            </div>
    </nav>
    <div class="d-flex justify-content-around">
        <form action="/addPet/pet/update/{{pet.id}}" method="POST" class="F">
            <div class="form-group">
                <label for="birthDate">Birth Date:</label>
                <input type="date" name="birthDate" class="form-control" value="{{edit.birthDate}}">
            </div>
            <div class="user">
                <input type="hidden" name="id" value="{{pet.id}}">
                <input type="hidden" name="painted_by" value="{{user_id}}">
                <input type="hidden" name="user_id" value="{{user_id}}">
                <div class="int">
                    <div class="in">
                        <label id="pet" for="name">Lets Name Our Pet!</label>
                        <p><input class="text" type="text" name="title" value="{{pet.name}}"></p>
                    </div>
                    <div class="model">
                        <label for="description">Description</label>
                        <p><textarea class="dis" name="description" value="{{pet.description}}">{{pet.description}}</textarea></p>
                    </div>
                </div>
                <p><button class="rB" value="update">Update</button></p>
        </form>
        <!-- Our pet would need to go right here so we can edit their look-->
        <div class="btn">
            <button onclick="red()">Red</button>
            <button onclick="pink()">Pink</button>
            <button onclick="yellow()">Yellow</button>
        </div>

        </div>
        <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>