<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/homePage.css')}}" />
    <title>Pet Shop - Home Page</title>
</head>

<body>
    <div>
        <div class="cont">
            <nav class="nav">
                <div class="cont">
                    <h1 class="nav">Welcome to the Pet Shop!</h1>
                </div>
            </nav>
            <div class="cont">
                <h4 class="nav">Looking for a new fur baby to join your family? Do you want something cute and cuddly or smooth and scaly or bright and feathery? Then you came to the right place. Our pet shop is one of a kind. Come explore the pet shop, and see if you
                    can get a new friend today. </h4>
            </div>
            <div class="container ">
                <div id="sign-form" class="navigation">
                    <form action="/register" method="post" id="sign-form" class="sign-form">
                        <div class="warning">
                            {% with messages = get_flashed_messages (category_filter=['register']) %} {% if messages %}
                            <div class="" role="alert">
                                <strong>Flash Message</strong> {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                            </div>
                            {% endif %} {% endwith %}
                        </div>
                </div>
                <div class="form-group">
                    <label class="form-group" for="first_name">
                        First Name:
                        <input type="text" name="first_name" class="active" id="name" placeholder="Enter your first name" autofocus/>
                    </label>
                    <label class="form-group" for="last_name">
                        Last Name:
                        <input type="text" name="last_name" class="active" id="name" placeholder="Enter your last name" autofocus/>
                    </label>
                    <label class="form-group" for="email">
                        Email:
                        <input class="active" type="email" name="email" id="email" placeholder="Your email here" autofocus/>
                    </label>
                    <label class="form-group" for="password">
                        Password:
                        <input class="active" type="password" name="password"id="password" placeholder="this your password" autofocus/>
                    </label>
                    <label class="form-group" for="confirm">
                        Confirm Password:
                        <input class="active" type="password" name="confirm" id="password" placeholder="make sure you dont forget" autofocus/>
                    </label>
                    <p><button class="btn">Register</button></p>

                </div>

                <input type="submit" value="Submit" href="/pet_profile" class="btn btn-primary">
                </form>
                <form action="/login" method="post" id="sign-form" class="sign-form">
                    <h2 class="text-dark">Login</h2>
                    <div class="warning">
                        {% with messages = get_flashed_messages (category_filter=['login']) %} {% if messages %}
                        <div class="" role="alert">
                            <strong>Flash Message</strong> {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %} {% endwith %}
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <input type="submit" value="Login" href="/pet_profile" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
    <div class="footer ">
        <p class="bg-dark text-light d-flex justify-content-center ">Copyright © 2022 The Pet Shop 123 Street • ABC Town, USA 12345 • (987) 654-3210</p>
    </div>
    <script type="text/javascript " src="{{url_for( 'static',filename='js/script.js' )}} "></script>
    </script>
</body>

</html>