<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/homePage.css')}}" />
    <title>Pet Shop - Home Page</title>
</head>

<body>
    <div>
        <div class="cont">
            <nav class="nav">
                <div class="cont">
                    <h1 class="nav">Welcome to the Pet Shop!</h1>
                </div>
            </nav>
            <div class="cont">
                <h4 class="nav">Looking for a new fur baby to join your family? Do you want something cute and cuddly or smooth and scaly or bright and feathery? Then you came to the right place. Our pet shop is one of a kind. Come explore the pet shop, and see if you
                    can get a new friend today. </h4>
            </div>
            <div class="container ">
                <div id="sign-form" class="navigation">
                    <form action="/register" method="post" id="sign-form" class="sign-form">
                        <h2 class="text-dark">Create Account</h2>
                        <div class="alert alert-danger" role="alert">
                            <strong>Please create an account.</strong>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="active" id="name" name="name" type="text" placeholder="Enter your first name" autofocus/>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="active" id="name" name="name" type="text" placeholder="Enter your last name" autofocus/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input id="email" name="email" type="text" placeholder="Email" autofocus/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input id="viewpswd" name="password" type="text" placeholder="this your password" />
                        </div>
                        <div class="form-group">
                            <label for="confirm">Confirm Password:</label>
                            <input id="password" name="password" type="password" placeholder="make sure you dont forget" autofocus/>
                        </div>
                        <input type="submit" value="Submit" href="/pet_profile" class="btn btn-primary">
                    </form>
                    <form action="/login" method="post" id="sign-form" class="sign-form">
                        <h2 class="text-dark">Login</h2>
                        <div class="alert alert-danger" role="alert">
                            <h4>Please log in.</h4>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <input type="submit" value="Login" href="/pet_profile" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer ">
            <p class="bg-dark text-light d-flex justify-content-center ">Copyright © 2022 The Pet Shop 123 Street • ABC Town, USA 12345 • (987) 654-3210</p>
        </div>
        <script type="text/javascript " src="{{url_for( 'static',filename='js/script.js' )}} "></script>
        </script>
</body>

</html>